[Desktop Entry]
Name=Latte
Name[de_DE]=Latte
Comment=Dock for the masses
Comment[de_DE]=Dock für die Massen
GenericName=Dock
GenericName[de_DE]=Dock

Version=@VERSION@
Categories=Utility;X-SuSE-DesktopUtility;
Exec=latte-dock %u
Icon=latte-dock
InitialPreference=1
StartupNotify=true
Terminal=false
Type=Application
X-KDE-PluginInfo-Author=@AUTHOR@
X-KDE-PluginInfo-Email=@EMAIL@
X-KDE-PluginInfo-Website=@WEBSITE@
